<%- include('./partials/header.ejs') %>


<form  method="post">

    <label for="email">Email</label>
    <input type="text" name="email" id="">

    <label for="password">Password</label>
    <input type="text" name="password" id="">

    <button>Submit</button>
</form>
<%- include('./partials/footer.ejs') %>